nav {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eb8f46;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

#game-board {
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/village.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}